<div class="hamburger-wrapper js-toggle-active js-bcc">
    <div class="hamburger-wrapper__hamburger">
        <div class="hamburger-wrapper__bar"></div>
        <div class="hamburger-wrapper__bar"></div>
        <div class="hamburger-wrapper__bar"></div>
    </div>
</div>