<div
        class="toggle-button js-ajax-send-button {{ active|default(false) ? '_active'}}"
        data-callback="toggle_active"
        data-url="{{ path|default('#') }}"
>
    <span class="toggle-button__on button2">On</span>
    <span class="toggle-button__off button2">Off</span>
</div>
