{% include 'layouts/controls/check.html.twig' with {
    type: 'checkbox',
    name: 'agree',
    value: '1',
    checked: true,
    inputMod: reuired|default('required'),
    text: '
        I consent to receiving new listings, VIP deals,
        newsletter and related real estate info from viksemenov Realty.
        I understand I can unsubscribe at any time and I agree to
        <a href="#" target="_blank">Terms & Conditions</a> and
        <a href="#" target="_blank">Privacy Policy.</a><br>
        By creating an account and performing searches on this site,
        you are acknowledging receipt and understanding of the
        <a href="#" target="_blank">Privacy Notice and Consent</a>,
        <a href="#" target="_blank">Disclosure of Representation in Trading Services</a>, and
        <a href="#" target="_blank">Disclosure of Risks to Unrepresented Parties</a>.
    '
} %}