{% set userTypes = [
    {
        'value': 'home_buyer',
        'text': 'Home Buyer',
    },
    {
        'value': 'home_seller',
        'text': 'Home Seller',
    }
] %}

<form
        class="form-style js-ajax-form"
        action="{{ path('save_profile') }}"
        method="post"
        autocomplete="off"
        data-prevent-clear="true"
        data-remove-ty="true"
        data-success-trigger="trigger:update-data"
        data-google-action="edit-profile" data-category="profile" data-label="profile"
>
    <div class="form-style__row mb30">
        <span class="form-style__label small-text mb10">Email</span>

        {% embed 'layouts/form/edit-field.html.twig' with {
            text: userData.email,
            userData: userData,
        } only %}
            {% block edit_field_collapse_container %}
                {% include 'layouts/form/input.html.twig' with {
                    name: 'email',
                    placeholder: '',
                    value: userData.email,
                    inputMod: 'usermail _fill-white',
                } only %}
            {% endblock %}
        {% endembed %}
    </div>

    <div class="form-style__row mb30">
        <span class="form-style__label small-text mb10">Your Full Name</span>

        {% include 'layouts/form/input.html.twig' with {
            name: 'name',
            placeholder: '',
            inputMod: '_fill-white',
            value: userData.name
        } only %}
    </div>

    <div class="form-style__row mb30">
        <span class="form-style__label small-text mb10">Address</span>

        {% include 'layouts/form/input.html.twig' with {
            name: 'address',
            placeholder: '',
            inputMod: '_fill-white',
            value: userData.address
        } only %}
    </div>

    <div class="form-style__row mb30">
        <div class="form-style__col _1-3 _z-30">
            <span class="form-style__label small-text mb10">Province/State</span>

            {% include 'layouts/form/select.html.twig' with {
                name: 'state',
                inputMod: '_fill-white _dark-text',
                options: provinceOptions,
                initialEmpty: userData.state ? false : true,
                selectedVal: userData.state
            } only %}
        </div>

        <div class="form-style__col _1-3">
            <span class="form-style__label small-text mb10">City</span>

            {% include 'layouts/form/input.html.twig' with {
                name: 'city',
                placeholder: '',
                inputMod: '_fill-white',
                value: userData.city
            } only %}
        </div>

        <div class="form-style__col _1-3">
            <span class="form-style__label small-text mb10">Postal Code</span>

            {% include 'layouts/form/input.html.twig' with {
                name: 'postalCode',
                placeholder: '',
                inputMod: '_fill-white',
                value: userData.postal
            } only %}
        </div>
    </div>

    <div class="form-style__row mb30">
        <div class="form-style__col _1-2 _z-20">
            <span class="form-style__label small-text mb10">Phone</span>
            <div class="tel-wrap">
                <div class="tel-wrap__phone">
                    {% include 'layouts/form/input.html.twig' with {
                        name: 'phoneNumber',
                        placeholder: 'Phone number',
                        inputMod: '_fill-white required js-only-numbers',
                        value: userData.phoneNumber,
                        extraParams: 'maxlength=10'
                    } only %}
                </div>
            </div>
        </div>

        <div class="form-style__col _1-2">
            <span class="form-style__label small-text mb10">User Type</span>

            {% include 'layouts/form/select.html.twig' with {
                name: 'userType',
                inputMod: '_fill-white _dark-text',
                selectedVal: userData.type,
                options: userTypes
            } only %}
        </div>
    </div>

    <div class="form-style__row">
        <span class="form-style__label small-text mb10">About Me</span>

        {% include 'layouts/form/textarea.html.twig' with {
            name: 'about',
            placeholder: '',
            inputMod: '_fill-white',
            value: userData.about
        } only %}
    </div>

    <div class="form-style__buttons-wrap mt50">
        {% include 'layouts/controls/button.html.twig' with {
            button: true,
            text: 'Update',
            mod: '_turquoise',
        } only %}

        {% include 'layouts/controls/button.html.twig' with {
            text: 'Cancel',
            mod: '_bordered-gray js-cancel-edit',
        } only %}
    </div>

    {% include 'layouts/common/ty-message.html.twig' with {
        wrapMod: '_dark-text _gray2-bg _overlay _animation-v2',
        title: tyTitle|default('Updated'),
        titleMod: tyTitleMod|default(false),
        subtitleMod: tySubtitleMod|default(false),
    } only %}
</form>