<form class="map-menu pt50 {{ wrapMod|default('') }}">
    <div class="map-menu__expand-button icon-angle-up-wide show-on-1300 js-toggle-active" data-toggle-js-wrap="true"></div>

    <div class="map-menu__container">
        {% if title|default(false) %}
            <span class="map-menu__title h4 pb20">{{ title }}</span>
        {% endif %}

        {% if yelpLabel|default(false) %}
            <span class="map-menu__yelp-label tiny-text pb20">
                Amenity information provided by <a class="yelp-logo" href="https://www.yelp.com/" target="_blank"></a>
            </span>
        {% endif %}

{#        {% if select|default(false) %}#}
{#            {% include 'layouts/form/select.html.twig' with select only %}#}
{#        {% endif %}#}

        {% if slideMenu|default(false) %}
            {% include 'layouts/modules/slide-menu.html.twig' with {
                wrapMod: '_gray pb20',
                firstActive: true,
                list: slideMenu is same as('default') ? false : slideMenu
            } only %}
        {% endif %}

        {% if text|default(false) %}
            <span class="map-menu__text tiny-text mb10">{{ text }}</span>
        {% endif %}

        {% if showCommuteForm|default(false) %}
            <div class="add-destination-form mb10 js-max-width-container js-wrap">
                <div class="input-button-row">
                    {% include 'layouts/form/autofill.html.twig' with {
                        inputPlaceholder: 'Enter Your Destination',
                        inputMod: '_fill-white js-destination-input',
                        requestOptions: {
                            spec: 'here'
                        }
                    } only %}

                    {% include 'layouts/controls/button.html.twig' with {
                        mod: 'js-get-coordinates _disable',
                        text: 'Add',
                    } only %}
                </div>
            </div>

            <span class="map-menu__text tiny-text mb10">Your commute destinations:</span>
        {% endif %}

        <div class="map-menu__content-wrap">
            <div class="map-menu__scroll-container">
                <div class="map-menu__scroll-wrap js-smooth-scroll">
                    <div class="map-menu__content pb50 {{ contentMod|default('') }}"></div>
                </div>
            </div>
        </div>

        {% if buttons|default(false) %}
            <div class="map-menu__buttons-wrap pt20 pb30">
                {% include 'layouts/controls/button.html.twig' with {
                    'mod': ' _small-paddings _bordered-gray _gray-text js-checkbox-select',
                    'text': 'Select all',
                } only %}

                {% include 'layouts/controls/button.html.twig' with {
                    'mod': ' _small-paddings _bordered-gray _gray-text js-checkbox-reset',
                    'text': 'Reset',
                } only %}

                {% include 'layouts/controls/button.html.twig' with {
                    'mod': ' _small-paddings',
                    'button': true,
                    'text': 'Search',
                } only %}
            </div>
        {% endif %}
    </div>
</form>