<form class="form-style js-ajax-form" action="" method="post" autocomplete="off">
    <h3 class="form-style__title h3 mb10">Password Recovery</h3>
    <span class="form-style__subtitle small-text mb30">Please enter the email address you registered with and we'll send your password to you.</span>

    <div class="form-style__row js-form-row mb10">
        <span class="form-style__label small-text mb10">Email</span>

        {% include 'layouts/form/input.html.twig' with {
            name: 'email',
            placeholder: '',
            inputMod: '_bordered-med required usermail',
        } only %}
    </div>

    <div class="form-style__row js-form-row mb15">
        {% include 'layouts/controls/button.html.twig' with {
            button: true,
            text: 'Send',
            mod: '_bordered',
        } only %}
    </div>

    <span class="link-turquoise tiny-text js-call-popup" data-popup="{{ {
        target: 'authorization',
        show_overlay: true
    }|json_encode }}">Back to Log in</span>
</form>