<form class="form-style js-ajax-form" action="{{ path('register') }}" method="post" autocomplete="off"
      data-reload-page="true" data-disable-before-send="true">
    <h3 class="form-style__title h3 mb30">Want to Compare Homes?</h3>

    <div class="form-style__social-buttons-wrap">
        {% include 'layouts/controls/button.html.twig' with {
            text: 'Continue with Facebook',
            mod: '_med icon-facebook _to-icon-on-700',
            href: '#',
            textMod: 'small-text_bold',
        } only %}

        {% include 'layouts/controls/button.html.twig' with {
            text: 'Continue with Google',
            mod: '_med _bordered-gray _google-colored _to-icon-on-700',
            href: '#',
            textMod: 'small-text_bold',
        } only %}
    </div>

    {% include 'layouts/common/separator.html.twig' with {
        text: 'OR',
        wrapMod: '',
        marginsMod: 'mt20 mb20',
    } only %}

    <div class="form-style__row js-form-row mb10">
        <span class="form-style__label small-text mb10">Full name</span>

        {% include 'layouts/form/input.html.twig' with {
            name: 'name',
            placeholder: '',
            inputMod: '_bordered-med required',
        } only %}
    </div>

    <div class="form-style__row js-form-row mb10">
        <span class="form-style__label small-text mb10">Email</span>

        {% include 'layouts/form/input.html.twig' with {
            name: 'email',
            placeholder: '',
            inputMod: '_bordered-med required usermail',
        } only %}
    </div>

    <div class="form-style__row js-form-row mb20">
        <span class="form-style__label small-text mb10">Password</span>

        <div class="tel-wrap">
            <div class="tel-wrap__phone">
                {% include 'layouts/form/input.html.twig' with {
                    name: 'phone',
                    placeholder: 'Phone (# is used as password)',
                    inputMod: '_bordered-med required',
                } only %}
            </div>
        </div>
    </div>

    <div class="form-style__row js-form-row mb15">
        {% include 'layouts/controls/button.html.twig' with {
            button: true,
            text: 'Continue My Search',
            mod: '_bordered',
        } only %}
    </div>

    <div class="form-style__row js-form-row">
        {% include 'layouts/modules/agreement-check.html.twig' %}
    </div>

    {% include 'layouts/common/separator.html.twig' with {
        wrapMod: '',
        marginsMod: 'mt20 mb30',
    } %}

    <span class="button1">
        Already signed up? <span class="link-turquoise inline-block js-call-popup" data-popup="{{ {
            target: 'authorization',
            show_overlay: true,
        }|json_encode }}">Log in</span>
    </span>
</form>