<form class="request-form js-ajax-form" action="{{ path('contact_us_process') }}" method="post" autocomplete="off"
      data-google-action="contact_us" data-category="request" data-label="request">
    {% include 'layouts/common/ty-message.html.twig' with {
        title: tyTitle|default('Thank you'),
        subtitle: tySubtitle|default('Your message has been sent'),
        titleMod: tyTitleMod|default(false),
        subtitleMod: tySubtitleMod|default(false),
    } only %}

    {% if title|default(false) %}
        <h3 class="request-form__title h3 mb40">{{ title }}</h3>
    {% endif %}

    <div class="request-form__col request-form__col_left">
        <div class="request-form__list">
            <div class="request-form__row">
                {% include 'layouts/form/input.html.twig' with {
                    name: 'name',
                    placeholder: 'Name',
                    inputMod: 'required',
                    value: app.user.name|default(null)
                } only %}
            </div>

            <div class="request-form__row">
                {% include 'layouts/form/input.html.twig' with {
                    name: 'email',
                    placeholder: 'Email',
                    inputMod: 'required usermail',
                    value: app.user.email|default(null),
                } only %}
            </div>

            <div class="request-form__row _z-20">
                <div class="tel-wrap">
                    <div class="tel-wrap__phone">
                        {% include 'layouts/form/input.html.twig' with {
                            name: 'phone',
                            placeholder: 'Phone number',
                            inputMod: 'required js-only-numbers',
                            value: app.user.phoneNumber|default(null),
                            extraParams: 'maxlength=10'
                        } only %}
                    </div>
                </div>
            </div>

            <div class="request-form__row">
                {% include 'layouts/form/select.html.twig' with {
                    name: 'contact_method',
                    inputMod: '',
                    selectMod: 'required',
                    wrapMod: '  _gray-text',
                    textMod: 'small-text',
                    placeholder: 'Choose Contact Method',
                    initialEmpty: true,
                    options: [
                        {
                            value: 'Phone',
                            text: 'Phone',
                        },
                        {
                            value: 'Email',
                            text: 'Email',
                        },
                    ]
                } only %}
            </div>
        </div>
    </div>

    <div class="request-form__col request-form__col_center">
        <div class="request-form__list">
            <div class="request-form__row">
                {% include 'layouts/form/textarea.html.twig' with {
                    name: 'comment',
                    placeholder: 'Comment',
                    inputMod: 'required',
                } only %}

            </div>
        </div>
    </div>

    <div class="request-form__col request-form__col_right">
        {% include 'layouts/modules/agreement-check.html.twig' with { 'required': '' } %}

        <div class="request-form__buttons-wrap mt30">
            {% include 'layouts/controls/button.html.twig' with {
                button: true,
                text: btnText|default('Submit'),
                mod: 'mt10',
            } only %}

            {% include 'layouts/controls/button.html.twig' with {
                text: 'Reset',
                mod: '_transparent-white mt10 js-form-reset-button',
            } only %}
        </div>
    </div>
</form>
