{% embed 'layouts/containers/dropdown-button.html.twig' with {
    placeholder: 'En',
    textMod: 'button2',
    wrapMod: '_fh',
} only %}
    {% block dropdown_content %}
        <div class="list">
            <a class="link-gray small-text mb10 _current" href="#">En</a>
            <a class="link-gray small-text" href="#">Zh</a>
        </div>
    {% endblock %}
{% endembed %}