<form class="simple-search js-no-ajax {{ wrapMod|default('') }}">
    {% if autofill|default(false) %}
        {% include 'layouts/form/autofill.html.twig' with {
            inputPlaceholder: 'Enter Your Adderss',
            inputMod: '_bordered',
            requestOptions: {
                spec: 'here'
            },
            props: {
                optionPresetMod: 'openMap',
            }
        } only %}
    {% else %}
        {% include 'layouts/form/input.html.twig' with {
            name: 'search-input',
            placeholder: 'Enter Your Adderss',
            inputMod: '_bordered',
        } only %}
    {% endif %}

    <div class="icon-btn icon-search {{ buttonMod|default('') }}"></div>
</form>