<div class="social-buttons">
    {% if not hideLabel|default(false) %}
        <h3 class="social-buttons__label h3">Follow us</h3>
    {% endif %}

    <div class="social-buttons__addthis-wrap">
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_follow_toolbox"></div>
    </div>
</div>