<div class="content-with-sticky-menu mb70 {{ wrapMod|default(false) ? wrapMod : autoWrapMod }}">
    <div class="content-with-sticky-menu__table container js-wrap">
        <div class="content-with-sticky-menu__col content-with-sticky-menu__col_left">
            {% block col_left %}{% endblock %}
        </div>

        <div class="content-with-sticky-menu__col content-with-sticky-menu__col_right js-sticky-container">
            <div class="content-with-sticky-menu__sticky-block js-sticky-block" data-offset="20">
                <div class="content-with-sticky-menu__sticky-sizer">
                    {% block col_right %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
