<section class="text-block ql-editor {{ wrapMod ?? 'mb100' }}">
    <div class="text-block__container {{ containerMod ?? 'container' }}">
        <div class="advantages__inner-container {{ innerContainerMod ?? 'inner-container' }}">
            {% block textblock_content %}{% endblock %}
        </div>
    </div>
</section>
