<div class="circles-bg {{ mod|default('') }} js-check-in-window" data-disable-out="true">
    <div class="circles-bg__circle circles-bg__circle_orange"></div>
    <div class="circles-bg__circle circles-bg__circle_blue"></div>
    <div class="circles-bg__circle circles-bg__circle_purple"></div>
</div>