<div class="copyright {{ wrapMod|default('') }}">
    <div class="copyright__text tiny-text">
        Copyright © 2013 - {{ "now"|date("Y") }} viksemenov.com. All Rights Reserved. Renanza Realty Inc.
        <br>
        600-777 Hornby Street, Vancouver, BC V6Z 1S4. Call 604-373-5459.
    </div>
    <a class="copyright__logo icon-iibs" href="https://www.iibs.co" title="IIBS" target="_blank" rel="nofollow"></a>
</div>
