<div class="popup-style popup-style_narrow js-popup js-popup-authorization">
    <div class="popup-style__container">
        <div class="cross-btn js-close-popup"></div>

        <div class="popup-style__scroll-wrap js-smooth-scroll">
            <div class="popup-style__content ">
                {% include 'layouts/modules/authorization-form.html.twig' %}
            </div>
        </div>
    </div>
</div>
