{% extends 'base.html.twig' %}

{% block title %} Real Estate - Privacy Policy {% endblock %}

{% block body %}
    <div class="privacy-policy">
        <div class="privacy-policy__container container">
            <h1>Privacy Policy</h1>
            <h4>General</h4>
            <p>In order to take advantage of viksemenov’s services, including project enquiry, schedule a showing tool,
                contact agent tool you must complete a registration form. Here at the viksemenov.com we value
                individuals as well as their right to privacy. We strive to protect all of the personal information that
                is shared with us through the website and are fully committed to keep your personal information,
                including name, telephone number, email address etc. confidential.</p>
            <p>This Privacy Policy is to ensure that this goal is met properly. Please note that "personal information"
                refer to any detail that identify you, the user, as an individual. By visiting viksemenov.com you agree
                to abide by this privacy policy as well:</p>
            <p>We only collect, store, use, and retain personal information which is absolutely necessary in order to
                allow us to assist you with your enquiry and/or to make your real estate transaction possible</p>
            <p>We will never share your personal information (unless you explicitly indicate otherwise) to any third
                party person or company</p>
            <p>We will abide by and act according to Personal Information Protection and Electronic Documents Act in
                Canada</p>
            <p>We will attempt to collect user information only if you are 13 years or older. Overall, you must be 13
                years or older to use viksemenov.com. If such information is indeed collected we will remove it
                promptly</p>
            <p>If you are a foreign user and/or purchaser, please note that viksemenov.com users are subject to
                Canadian laws and you are protected under the Privacy Policy. We will not share your information with
                anyone outside the organization without your explicit request</p>
            <p>Only employees who directly work on the appropriate departments and accounts have access to the personal
                information submitted. All of our employees are aware of our Privacy Policy and strive to abide by
                it</p>
            <p>This Privacy Policy applies to all pages under viksemenov.com domain</p>
            <h4>Registration</h4>
            <p>In order for you to use My viksemenov or our brokerage services, such as saved searches, favorites, or
                tours, you must complete a registration form.</p>
            <h4>My viksemenov</h4>
            <p>My viksemenov allows you to upload notes and photos about a property, save searches, add favourites, and
                otherwise organize homes that may be of interest to you. We save all of this "My Account" information
                for your use later.</p>
            <h4>Reviews and Ratings</h4>
            <p>We pride ourselves on transparency, and we survey all of our clients to periodically rate their
                experiences using our website or agents.</p>
            <h4>Financial Information</h4>
            <p>In order to determine which homes are in your price range, and to help you make an offer more quickly
                when you do find a home, we may ask you to get pre-approved with a mortgage broker or lender, and to
                provide this pre-approval information to one of our agents.</p>
            <h4>Forum Posts</h4>
            <p>Any information you post to our forums will be available publicly.</p>
            <h4>Automatic Information</h4>
            <p>We receive and store information whenever you interact with us. This includes traffic and IP address data
                from our server logs, viksemenov cookie information, and the page you requested. viksemenov uses this
                information to help diagnose server problems, analyze trends, and administer the website.</p>
            <p>In addition, when you are signed in and using viksemenov through Facebook, Twitter, or any other
                third-party authorization service, we may make use of the data that they provide us to further customize
                your viksemenov experience.</p>
            <h4>Email Communications</h4>
            <p>We will never provide your email address to a third party without your explicit permission. viksemenov
                may send out opt-in e-mails with viksemenov-related news, surveys or promotions.</p>
            <p>If you do not want to receive e-mail from us, please visit the Email Preferences section of your
                viksemenov Alerts & Emails and/or follow the instructions contained in the unwanted e-mail message.</p>
            <h4>Cookies</h4>
            <p>We put a <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookie</a> on your computer to help us keep track of when you were last on the site, where you last
                searched and how you're using our service. While you are free to disable cookies on your browser,
                werecommend that you leave cookies activated to use some of viksemenov's most useful features.</p>
            <h4>Keeping Information Secure</h4>
            <p>Your viksemenov account information is protected by a password for your privacy and security.</p>
            <h4>Ways to Control Display and Use of Your Information</h4>
            <p>By visiting your viksemenov Account Settings, you can correct, amend, add or delete personal information
                on our website.</p>
            <p>You may request deletion of your viksemenov account by e-mailing us at <a href="info@Rebatespace.com">sales@viksemenov.com</a></p>
            <h4>This website uses Google Adwords</h4>
            <p>This website uses the Google AdWords remarketing service to advertise on third party websites (including
                Google) to previous visitors to our site. It could mean that we advertise to previous visitors who
                haven’t completed a task on our site, for example using the contact form to make an enquiry. This could
                be in the form of an advertisement on the Google search results page, or a site in the Google Display
                Network. Third-party vendors, including Google, use cookies to serve ads based on someone’s past visits
                to the [CLIENT NAME] website. Of course, any data collected will be used in accordance with our own
                privacy policy and Google’s privacy policy</p>
            <h4>Changes to this Privacy Policy</h4>
            <p>viksemenov may amend this Privacy Policy from time to time, at its sole discretion.</p>
            <p>This Privacy Policy is effective as of December 1, 2011 and last updated December 1, 2011.</p>
        </div>
    </div>
{% endblock %}