{% extends 'base.html.twig' %}

{% block title %} Real Estate - Terms of Use {% endblock %}

{% block body %}
    <div class="terms-of-use">
        <div class="terms-of-use__container container">
            <h1>Terms of Use</h1>
            <p>By accessing this Web site you agree to be bound by the terms and conditions below. Users who disagree
                with the Terms should immediately stop using the website.</p>
            <p>By using viksemenov.com users agree that viksemenov.com reserves the right to modify or change the
                Terms at its sole discretion and without prior or post notice.</p>
            <p>Users are also encouraged to read our Privacy Policy. This Agreement contains an agreement to arbitrate
                all Claims and disclaims warranties and liability. These provisions form an essential basis of the
                agreement between you and viksemenov. Read these provisions carefully and print out a copy for your
                records.</p>
            <p>Please note that Services provided by viksemenov.com is not intended to solicit buyers or sellers
                currently under contract with another brokerage. If you have any questions or concerns with regards to
                these Terms email us at info [at] viksemenov.com</p>
            <p>Terms and Conditions for Website Users</p>
            <p>If you are a registrant of viksemenov.com, you also agree to the MLS®.</p>
            <h4>1. viksemenov.com Content</h4>
            <p>Users agree that they are fully liable on the use of the content and they do so at their own risk.
                viksemenov.com is not liable for any damages incurred after the use of the content whether they occur
                directly or indirectly. Website must only be used by consumers</p>
            <p>for the purpose of locating and purchasing real estate.</p>
            <p>Users understand that viksemenov.com is not responsible in any shape or form for the content that
                becomes available through the Services. Users may find the content including text, photos, videos etc.
                objectionable. Some of the content on the website comes from the developers (“Developers”) and they are
                in full control of the data including renderings, and logos.</p>
            <p>Users agree that while we strive to have error free, and uninterrupted service, viksemenov.com does not
                guarantee absence of interruptions nor are we liable for any damage such interruptions may cause.</p>
            <p>Users note that the content on viksemenov.com may include outbound links to other websites. Users
                understand that viksemenov.com is not responsible for the content on these external sites nor is
                viksemenov.com responsible for the Services provided by them. Users thus will visit these sites at
                their own risk and are encouraged to assess the sites for accuracy and integrity.</p>
            <p>Users agree that while we strive to bring them the most accurate information, viksemenov.com does not
                guarantee the accuracy of the information posted on the platform, or mentioned in face-to-face and phone
                conversations. Users are encouraged to evaluate and double check the information as they see fit.

            <p>Users agree that viksemenov.com retains the right to modify, remove, or move the content on the site
                including the user comments at it sees fit. viksemenov.com however is not obligated to do so.</p>

            <p>Users agree to grant full and irrevocable worldwide license to the content submitted to the site in forms
                of comments and articles. viksemenov.com will be licensed to use, edit, copy, translate, sublicense,
                and promote these as it sees fit.</p>

            <p>Users agree that some of the technology used on viksemenov.com is provided by third party entities and
                thus are subject to those entities' terms of use. For example, we use Google Maps which are subject to
                Google's terms of use www.google.com/intl/en_us/help/terms_maps.html</p>

            <p>Users agree that the extent of Services, the longevity of the content on the site, the means and
                frequency of promotion of the content, the modification and the continuation of Services , as well as
                the users' access to the Services and the content is solely up to viksemenov.com's discretion.
                Moreover, users agree that viksemenov.com is not liable to any party including the users if such
                modifications or discontinuation occurs without prior notice.</p>
            <h4>2. Cookies</h4>

            <p>By using the Web site and inputting personal information the user understands that he or she may acquire
                cookies or other computer files that viksemenov uses to identify users.</p>

            <p>We currently collect information such as pages visited, search parameters, and property information to
                supplement our records and help us learn what pages are most attractive to our customers, which of our
                features most interest our customers, and what kinds of homes and information our customers like to
                see.</p>

            <h4>2.1 Google Analytics</h4>

            <p>Our website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google
                Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how
                users use the site. The information generated by the cookie about your use of the website (including
                your IP
                address) will be transmitted to and stored by Google on servers in Canada. Google will use this
                information
                for the purpose of evaluating your use of the website, compiling reports on website activity for website
                operators and providing other services relating to website activity and internet usage. Google may also
                transfer this information to third parties where required to do so by law, or where such third parties
                process the information on Google's behalf. Google will not associate your IP address with any other
                data
                held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser,
                however please note that if you do this you may not be able to use the full functionality of this
                website.
                By using this website, you consent to the processing of data about you by Google in the manner and for
                the
                purposes set out above.</p>


            <h4>2.2 Google Maps</h4>

            <p>Our site features Google Maps, please review their <a
                        href="http://maps.google.com/help/privacy_maps.html">privacy policy</a>, <a
                        href="http://maps.google.com/help/legalnotices_maps.html">legal notices</a> and <a
                        href="http://maps.google.com/help/terms_maps.html">terms of use</a>.</p>

            <h4>2.3 Google DoubleClick for Publishers</h4>

            <p>Our site may use Google DoubleClick, a web advertising service provided by Google, Inc. ("Google"). We
                may
                use this technology solely to advertise our services to our customers and do not serve advertisements
                for
                3rd parties. Please review their <a href="http://www.google.com/privacy/ads/">privacy policy</a>.</p>

            <h4>3. Information Sharing/Reselling</h4>

            <p>By using the Web site and inputting personal information the user understands that viksemenov will use
                such
                information for internal purposes and with your permission or upon your request may also provide that
                information to affiliated companies or persons. viksemenov takes care to see that user information is
                not
                transmitted to unauthorized persons or the general public but is not liable for such information
                transmission due to theft, hacking or software errors.</p>

            <h4>4. Information Aggregation</h4>

            <p>viksemenov is not responsible for any errors in displayed information or delays in displaying
                information.
                All information on the Web site is either transmitted to viksemenov from other entities or persons or
                was
                obtained through publicly available government sources. Issues of data accuracy may be brought to the
                attention of viksemenov by sending feedback but it is likely that such information accuracy cannot be
                corrected by viksemenov and the entity or person that generated the information must be appealed to.
                For
                example: incorrect listing information can only be changed by the 3rd party listing agent under our
                terms
                with the MLS®.</p>

            <h4>4.1 Neighbourhood Location Outlines</h4>

            <p>viksemenov does not guarantee the accuracy of the neighbourhood outlines that appear on the website.</p>

            <h4>5. 3rd Party Trademarks</h4>

            <h4>5.1 viksemenov for the iPhone™</h4>

            <p>Apple, the Apple logo, iPod, iPod touch, and iTunes are trademarks of Apple Inc., registered in the U.S.
                and other countries. iPhone is a trademark of Apple Inc. App Store is a service mark of Apple Inc.</p>

            <h4>5.2 viksemenov for Android™</h4>

            <p>Android is a trademark of Google Inc. Use of this trademark is subject to Google Permissions. Portions of
                this page are modifications based on work created and <a href="http://code.google.com/policies.html">shared by Google</a> and used according to terms
                described in the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0 Attribution License</a>.</p>

            <h4>6. Webscraping of Listing & Property Data Is Not Allowed</h4>

            <p>Crawling or Scraping the viksemenov.com and network sites is allowed for inclusion in web search engine
                results only. Webscraping, downloading or webcrawling of any property or other data for inclusion in
                another
                real estate search site, content aggregator, or any other purpose is strictly forbidden without prior
                written consent from viksemenov</p>


            <h4>7. Forums, Q&A pages.</h4>

            <p>Any opinions, advice, offers, or other information or content expressed or made available by third
                parties,
                including information providers and users, are those of the respective author(s) or distributor(s) and
                not
                viksemenov. In many instances, the content available through this site represents the opinions and
                judgments of the respective information providers or users. viksemenov does not endorse, and is not
                responsible for the accuracy or reliability of any opinion, advice or statement made on the site by
                any third party.</p>


            <h4>8. Links</h4>

            <p>Links provided on this Web site are put there for the user's convenience. Links may be directed to
                third-party content, meaning that viksemenov has no control over what is actually posted at the
                destination
                sites. viksemenov does not endorse or promote or sponsor the content found after clicking on a link
                that
                sends a user to a 3rd party site. If linked-to content appears to be in error or objectionable to a
                user,
                send feedback so that viksemenov can review the content and make changes to links where necessary.</p>

            <h4>9. Services</h4>

            <p>"Services" consist of the Website and any functions provided by, through, or in conjunction with the
                Website, including but not limited to real estate partnering services, agent communication services,
                email,
                telephone messages, and text messages. Unless stated otherwise, the Services are for your personal and
                non-commercial use only.</p>

            <p>The Services are not for use by users under the age of 13. By registering for the Services, you warrant
                to
                us that you are over the age of 13, and that you shall not allow persons under the age of 13 to use or
                access the Services.</p>

            <p class="bold">PLEASE READ THE FOLLOWING PARAGRAPH CAREFULLY. DO NOT USE THE WEBSITE OR REGISTER FOR THE
                SERVICES IF YOU DO
                NOT WISH TO COMPLY.</p>

            <p>By either filling out our contact form or registering a user account in order to use the Services, you
                give
                us express written consent to contact you by phone, e-mail, or text messages. YOU EXPRESSLY AGREE THAT
                WE
                MAY CONTACT YOU EVEN IF YOU HAVE PREVIOUSLY REGISTERED YOUR PHONE WITH A FEDERAL OR PROVINCIAL "DO NOT
                CALL"
                REGISTRY. You have the right to withdraw your consent and may opt-out of receiving phone calls by
                contacting
                us in any of the methods listed in the "Contact" section of the Website. In addition, you may opt-out of
                e-mails by clicking the "unsubscribe" link in any e-mail we send to you, and opt-out of text messages by
                replying to text messages you receive from us with a request to STOP. If you opt-out and then re-enable
                any
                of these services, you will be deemed to have again given us your express written consent to contact you
                via
                any services you re-enable.</p>

            <h4>10. viksemenov Disclaimer</h4>

            <p>The materials contained on this page may not be reproduced without the express written consent of the
                Real
                Estate Board of Greater Vancouver. MLS® and REALTOR® Trademarks owned or controlled by The Canadian Real
                Estate Association. Used under license. This website must only be used by consumers for the purpose of
                locating and purchasing real estate.</p>

            <h4>11. Registering an Account on viksemenov.com</h4>

            <p>By registering for a viksemenov account you are agreeing to the following terms and conditions. Your
                agreement to these terms does not require you to work with viksemenov.</p>

            <p>Any information you obtain from the viksemenov website is intended for your personal, non-commercial
                use.</p>

            <p>You have a bona fide interest in the purchase, sale, or lease of real estate on the viksemenov
                website.</p>

            <p>You will not copy, redistribute, or retransmit any of the information provided except in connection with
                your consideration of the purchase or sale of an individual property.</p>

            <p>You acknowledge that the individual multiple listing service (MLS®), which supplies the listing data,
                owns
                such data and you acknowledge the validity or the MLS®s copyright to such data.</p>

            <p>viksemenov also explicitly authorizes MLS® employees, MLS® members, or their duly authorized
                representatives to access viksemenov's website for the purposes of verifying compliance with MLS® rules
                and
                monitoring the display of Participants' listings on viksemenov's site.</p>

            <p>All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person
                who
                originated such Content. We may not monitor or control the Content posted via the Services and, we
                cannot
                take responsibility for such Content. Any use or reliance on any Content or materials posted via the
                Services or obtained by you through the Services is at your own risk. You certify that you will not
                upload
                or post inappropriate content such as profanity, obscenity, libelous content, etc.</p>

            <p>You retain your rights to any Content you submit, post or display on or through the Services. By
                submitting,
                posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive,
                royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify,
                publish, transmit, display and distribute such Content in any and all media or distribution methods (now
                known or later developed). The most common public uses for content today are in the user forums and
                paired
                with a public review left by you for a particular agent.</p>

            <h4>12. Copyright</h4>

            <p>All Services, logos, content, art work, design, files, text, and sounds are properties of
                viksemenov.com,
                or the respective Developers and are subject to Canadian and International copyright laws, and may not
                be
                copied in full or in part without expressed written consent of viksemenov.com management. The users
                agree
                that their access to the aforementioned Services and content is limited to personal use only and that
                their
                commercial use is limited to transactions done on their own behalf. viksemenov.com retains the right to
                modify, terminate, or further limit access to Services at its sole discretion. All unauthorized use by
                Users
                will immediately terminate the license granted by these Terms.</p>

            <p>Users will be in violation of the Terms if, but not limited to, they engage in 'any' harmful and/or
                unlawful
                behaviour such as impersonating another person or entity; if they make unsolicited calls or send
                unsolicited
                messages and emails to viksemenov.com employees and email addresses; if they infringe on
                viksemenov.com's
                copyrights; if they exploit, which includes unauthorized duplication of, the content, logos, art work,
                design, files, text and Services provided by viksemenov.com; if they utilize any electronic means to
                use,
                or gain access to viksemenov.com's content and registration forms, including framing techniques.</p>

            <p>Users may, subject to these Terms and Conditions, print or otherwise save individual pages for private
                use.
                However, property listings and/or data may not be modified or altered in any respect, merged with other
                data
                or published in any form, in whole or in part. The prohibited uses include "screen scraping", "database
                scraping" and any other activity intended to collect, store, reorganize or manipulate or publish data on
                the
                pages produced by, or displayed on the viksemenov.com web site.</p>
            <h4>13. Limitation of Liability</h4>

            <p>Users agree that viksemenov.com, it's directors, employees, and affiliates are hereby relieved of any
                liability for damages, be it direct or indirect, that comes as a result of the use of viksemenov.com
                website and our Services.</p>

            <p>The Users agree that they may directly or indirectly get involved with parties independent of
                viksemenov.com either through viksemenov.com's Blog or through the Services provided on the main
                platform and the viksemenov.com Realty Inc. viksemenov.com is hereby also relieved of any
                responsibility and
                liability with regards to the Services and content provided by third party partners, contributors, and
                any person or entity that links to viksemenov.com. The Users are encouraged to conduct their own
                research
                prior to interacting with any such entities and agree that they cannot hold viksemenov.com responsible
                for
                any third party short comings or damages.</p>

            <p>Users agree that viksemenov.com cannot guarantee unit allocation and availability nor do we guarantee
                the prices or the size of the units posted. This applies to projects before, during, and after VIP
                opportunities. Users are encouraged to double check the relevant information as they see fit.</p>

            <p>Users agree that viksemenov.com is hereby relieved of any liability that may come as a result of any
                interruptions to the service or any errors on the platform. Users are encouraged to take all precautions
                and check all facts as they see fit.</p>

            <p>If you have any questions or concerns with regards to these Terms email us at info [at]
                viksemenov.com</p>

            <p>. THIS WEB SITE AND THE INFORMATION, SOFTWARE, PRODUCTS AND SERVICES ASSOCIATED WITH IT ARE PROVIDED "AS
                IS." viksemenov AND/OR ITS SUPPLIERS OR REAL ESTATE PROFESSIONALS DISCLAIM ANY WARRANTY OF ANY KIND,
                WHETHER EXPRESS OR IMPLIED, AS TO ANY MATTER WHATSOEVER RELATING TO THIS WEB SITE AND ANY INFORMATION,
                SOFTWARE, PRODUCTS AND SERVICES PROVIDED HEREIN, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT. USE OF THIS WEB SITE
                AND/OR viksemenov'S SERVICES IS AT YOUR OWN RISK. viksemenov AND/OR ITS SUPPLIERS OR REAL ESTATE
                PROFESSIONALS ARE NOT LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL
                DAMAGES OR OTHER
                INJURY ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS WEB SITE AND/OR viksemenov'S
                SERVICES OR WITH THE DELAY OR INABILITY TO USE THIS WEB SITE, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS
                AND
                SERVICES OBTAINED THROUGH THIS WEB SITE, OR OTHERWISE ARISING OUT OF THE USE OF THIS WEB SITE, WHETHER
                RESULTING
                IN WHOLE OR IN PART, FROM BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, STRICT LIABILITY OR
                OTHERWISE,
                EVEN IF viksemenov AND/OR ITS SUPPLIERS HAD BEEN ADVISED OF THE POSSIBILITY OF DAMAGES.</p>

            <h4>14. No warranties</h4>

            <p>viksemenov.com and its affiliates, subsidiaries, officers, directors, employees, or agents who provide
                this
                Site, and the Information herein, is on an “as is, where is basis” and do not make any express or
                implied
                warranties, representations, endorsements or conditions with respect to the Site or the Information,
                including, without limitation, warranties as to the merchantability, operation, non-infringement,
                usefulness, completeness, accuracy, correctness, reliability, and fitness for a particular purpose.
                Further,
                smarthomesellers.ca does not represent or warrant that the Site will be available and meet your
                requirements, that access will be uninterrupted, that there will be no delays, failures, errors or
                omissions, or loss of transmitted information, that no viruses or other contaminating or destructive
                properties will be transmitted or that no damage will occur to your computer system.</p>

            <h4>15. Indemnity</h4>

            <p>By using this Web site the user agrees to indemnify viksemenov and its suppliers and real estate
                professionals from and against any and all liabilities and expenses and damages arising out of the users
                use
                of the Web site. Users may not use this Web site for illegal, harassing, unethical, or disruptive
                purposes.</p>

            <h4>16. Jurisdiction</h4>

            <p>It is important to note that service and Information is only available in the provinces of British
                Columbia.
                The Information does not constitute an offer or solicitation to trade in real estate to anyone in any
                jurisdiction in which an offer or solicitation is not authorized or cannot legally be made or to any
                person
                to whom it is unlawful to make an offer or solicitation. The terms and conditions applicable to any
                service
                will be those determined at the time of provision of the service. Please be aware of the laws of your
                province or country or that otherwise apply to you in relation to any of the matters described in these
                pages. If you choose to access the Site from outside British Columbia you do so on your own initiative
                and
                are responsible for compliance with applicable local, national or international laws. You may not use or
                export or re-export the Information or any copy or adaptation in violation of any applicable laws or
                regulations, including export laws and regulations of Canada in force from time to time.</p>

            <h4>17. Disclaimers</h4>

            <p>Disclaimers: Multiple Listing Services and other Data Providers</p>

            <p>viksemenov receives the homes for sale from many listing sources. The following disclaimers apply to
                listings only from that particular data source.</p>


            <h4>17.1 MLS® Disclaimers</h4>

            <p>The data relating to real estate on this web site comes in part from the MLS® Reciprocity program of the
                Real Estate Board of Greater Vancouver or the Fraser Valley Real Estate Board. Real estate listings held
                by
                participating real estate firms are marked with the MLS® Reciprocity® logo and detailed information
                about
                the listing includes the name of the listing agent. This representation is based in whole or part on
                data
                generated by the Real Estate Board of Greater Vancouver or the Fraser Valley Real Estate Board which
                assumes
                no responsibility for its accuracy. The materials contained on this page may not be reproduced without
                the
                express written consent of the Real Estate Board of Greater Vancouver or the Fraser Valley Real Estate
                Board.</p>

            <h4>REGVB</h4>

            <p>This representation is based in whole or in part on data generated by the Greater Vancouver Real Estate
                Board which assumes no responsibility for its accuracy.</p>

            <h4>CADREB</h4>

            <p>This representation is based in whole or in part on data generated by the Chilliwack & District Real
                Estate Board which assumes no responsibility for its accuracy.</p>

            <h4>FVREB</h4>

            <p>This representation is based in whole or in part on data generated by the Fraser Valley Real Estate Board
                which assumes no responsibility for its accuracy.</p>


            <h4>MLS®</h4>

            <p>MLS®, Multiple Listing Service®, and the associated logos are all registered certification marks owned by
                CREA and are used to identify real estate services provided by brokers and salespersons who are members
                of
                CREA.</p>

            REALTOR®

            <p>REALTOR®, REALTORS® and the REALTOR® logo are certification marks owned by REALTOR® Canada Inc., a
                corporation jointly owned by the National Association of REALTORS® and The Canadian Real Estate
                Association.
                The REALTOR® trade marks are used to identify real estate services provided by brokers and salespersons
                who
                are members of CREA and who accept and respect a strict Code of Ethics, and are required to meet
                consistent
                professional standards of business practice which is the consumer's assurance of integrity.</p>

            <h4>17.2 Demographics data</h4>

            <p>Census boundary files</p>

            <p>Statistics Canada. 2007. Population Ecumene Census Division Cartographic Boundary File.2006 Census.
                Statistics Canada Catalogue no. 92-159-XWE. March 13.
                http://geodepot.statcan.ca/Diss2006/DataProducts/PopEcumene_e.jsp (accessed July 14, 2008).</p>


            <h4>Census table data</h4>

            <p>Statistics Canada. 2007. “Census Profile. 2006 Census: Release topics.” Census. Statistics Canada
                Catalogue no. 97-550-XWE2006002. Ottawa, Ontario. March 13.
                <a href="http://www12.statcan.ca/english/census06/data/popdwell/Table.cfm?T=101">http://www12.statcan.ca/english/census06/data/popdwell/Table.cfm?T=101</a>
                (accessed November 3, 2008.)</p>

            <p>Statistics Canada. 2012. Census Profile. 2011 Census. Statistics Canada Catalogue no. 98-316-XWE. Ottawa.
                Released October 24, 2012.
                <a href="http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/prof/index.cfm?Lang=E">http://www12.statcan.gc.ca/census-recensement/2011/dp-pd/prof/index.cfm?Lang=E</a>
                (accessed February 24, 2013).</p>


            <h4>17.3 Crime data</h4>

            <p>Part of this information is provided by the Province of British Columbia. The Information is licensed ‘as
                is’, and the Information Provider</p>

            <p>excludes all representations, warranties, obligations and liabilities, whether express or implied, in
                relation to the Information.</p>

            <h4>17.4 Schools data</h4>

            <p>This information is provided by the Province of British Columbia under the Open Government License for
            Government of BC Information v.BC1.0.</p>


            <h4>17.5 School Service areas boundaries</h4>

            <p>Information regarding school boundaries, attendance, ratings, exam marks and other demographics changes
            frequently. The school boundary, attendance and other demographic information provided on the Site is
            compiled from various sources and is for general informational purposes only. You should not use such
            information in determining the legal eligibility to attend any particular school or school system, or to use
            or benefit from any other services provided by or on behalf of any city, town, county, state or other
            governmental entity, or any other service dependent upon residence within a given geographical area.</p>


            <h4>17.6 Daycares data</h4>

            <p>Child Care and Day Care information is provided “as is” by BC Health Authorities. Information Provider
            excludes all representations, warranties, obligations and liabilities whether express or implied, in
            relation to the Information. Severity of violations differs please visit BC Health Authority Website for
            more information.</p>

            <h4>17.7 Climate data</h4>

            <p>Climate and Historical Weather Data provided by Environment Canada.</p>

            <h4>18. Copyright</h4>

            <p>© 2013 - {{ "now"|date("Y") }} viksemenov. All Rights Reserved.</p>

        </div>
    </div>
{% endblock %}