{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Welcome in Admin profile! ✅</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}" hreflang="en">Logout</a>
        </div>
    {% endif %}

    <ul>
        <li>Your controller at <code><a
                        href="{{ '/mount/space-1/.user/domains/viksemenov20/src/Controller/AdminController.php'|file_link(0) }}"
                        hreflang="en">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a
                        href="{{ '/mount/space-1/.user/domains/viksemenov20/templates/admin/profile.html.twig'|file_link(0) }}"
                        hreflang="en">templates/admin/profile.html.twig</a></code></li>
    </ul>
{% endblock %}
