{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminSeoController!{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="text-dark">Hello {{ controller_name }}! ✅</h1>
    </div>

   <div class="content px-2">
       This friendly message is coming from:

       <ul>
           <li>Your controller at <code><a
                           href="{{ '/mount/space-1/.user/domains/viksemenov20/src/Controller/AdminSeoController.php'|file_link(0) }}">src/Controller/AdminSeoController.php</a></code>
           </li>
           <li>Your template at <code><a
                           href="{{ '/mount/space-1/.user/domains/viksemenov20/templates/admin_seo/index.html.twig'|file_link(0) }}">templates/admin_seo/index.html.twig</a></code>
           </li>
       </ul>
   </div>
{% endblock %}
