<section id="book-a-tour" class="book-a-tour {{ wrapMod ?? 'mb100' }}">
    {% include 'layouts/common/circles-bg.html.twig' with {
        mod: 'mtr100'
    } only %}

    <div class="book-a-tour__container {{ containerMod ?? 'container' }}">
        <div class="book-a-tour__wrap pt60 pb60">
            <div class="book-a-tour__table {{ innerContainerMod ?? 'inner-container' }}" >
                <div class="book-a-tour__col book-a-tour__col_left">
                    <div class="book-a-tour__img mb20 js-check-in-window" data-disable-out="true"></div>

                    <h3 class="book-a-tour__title h3 mb30">Book a tour</h3>
                    <span class="book-a-tour__text small-text_bold mb20">Please complete the form. We will the arrangements and give you a call, typically within 1-2 hours.</span>
                    <span class="book-a-tour__text small-text_bold">Or Call Us <a class="link-fuchsia" href="tel:7782002710">778-200-2710</a></span>
                </div>

                <div class="book-a-tour__col book-a-tour__col_right">
                    {% include 'layouts/modules/contact-form.html.twig' with {
                        'btnText': 'Submit & Register',
                        'confidentiality': true,
                        'twoCol': true,
                        'listingId': listingId|default(false),
                    } only %}
                </div>
            </div>
        </div>
    </div>
</section>
