{% set localInfoMapDataTrigger = {
    trigger: 'trigger:init-map',
    data: '#local-info-map'
} %}

{% set localInfoMapParameters = {
    yelpPath: path('business_search'),
    center: coordinates|default(false),
    initialMarker: true,
    zoom: 15,
    minZoom: 10,
    refreshLayers: ['yelp'],
} %}

<section class="local-info {{ wrapMod ?? 'mb70' }}">
    <div class="local-info__container {{ containerMod ?? 'container' }} js-map-interface-wrap">
        {% include 'layouts/common/title-block.html.twig' with {
            tag: 'h3',
            text: title|default('Local Info'),
        } only %}

        {% if coordinates|default(false) %}
            {% include 'layouts/modules/slide-menu.html.twig' with {
                wrapMod: 'mb20',
                firstActive: true,
            } only %}

            <div class="local-info__map-wrap mb30 js-check-in-window" data-trigger-body="{{
                localInfoMapDataTrigger|json_encode
            }}">
                <div class="map-container js-map-container">
                    {% include 'layouts/common/spinner.html.twig' %}

                    <div class="map" id="local-info-map" data-params='{{
                        localInfoMapParameters|json_encode
                    }}'></div>
                </div>
            </div>

            <div class="local-info__yelp-cards-wrap js-wrap">
                <div class="local-info__slider-wrap">
                    <div class="yelp-cards-slider js-yelp-cards-slider _gray-dots-nav"></div>
                </div>

                <div class="local-info__nav-wrap">
                    {% include 'layouts/modules/slider-nav.html.twig' %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
