{% extends 'admin/base.html.twig' %}

{% block title %}New user{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="text-dark">Create new user</h1>
    </div>

    <div class="content px-2">
        <div class="card card-primary card-outline">
            <div class="card-body">
                {{ include('admin/user_list/admin_users/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
