{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'layouts/containers/error-block.html.twig' with {
        svgWrapMod: 'not-found-animation',
    } only %}
        {% block error_svg %}
            {% include 'layouts/svg/404.html.twig' %}
        {% endblock %}

        {% block error_content %}
            <h2 class="h2 mb50">ooops! page not found</h2>
            <p class="subtitle">
                The page you are looking for doesn`t exist or an other error occurred.<br>
                Go <a class="link-turquoise" href="{{ path('home') }}">back</a>, or use the search.
            </p>
            {% include 'layouts/modules/simple-search.html.twig' with {
                wrapMod: '_max-w mt40',
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}