$montserrat: 'montserrat';
$icomoon: 'icomoon';

@font-face {
    font-family: $montserrat;
    src:
            url("../../fonts/montserrat-bold-webfont.woff2") format("woff2"),
            url("../../fonts/montserrat-bold-webfont.woff") format("woff"),
            url("../../fonts/montserrat-bold-webfont.ttf") format("truetype");

    font-weight: 700;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: $montserrat;
    src:
            url("../../fonts/montserrat-medium-webfont.woff2") format("woff2"),
            url("../../fonts/montserrat-medium-webfont.woff") format("woff"),
            url("../../fonts/montserrat-medium-webfont.ttf") format("truetype");

    font-weight: 500;
    font-style: normal;
    font-display: block;
}


@font-face {
  font-family: $icomoon;
  src:  url('../../fonts/icomoon.eot?8qhyn0');
  src:  url('../../fonts/icomoon.eot?8qhyn0#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon.ttf?8qhyn0') format('truetype'),
  url('../../fonts/icomoon.woff?8qhyn0') format('woff'),
  url('../../fonts/icomoon.svg?8qhyn0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  &::before {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-graduation-hat_frame:before {
  content: "\e964";
}
.icon-graduation-hat:before {
  content: "\e963";
}
.icon-commute-bus-big:before {
  content: "\e95e";
}
.icon-commute-car-big:before {
  content: "\e95f";
}
.icon-commute-scooter-big:before {
  content: "\e960";
}
.icon-commute-pedestrian-big:before {
  content: "\e961";
}
.icon-commute-bicycle-big:before {
  content: "\e962";
}
.icon-localservices:before {
  content: "\e94e";
}
.icon-pets:before {
  content: "\e94f";
}
.icon-active:before {
  content: "\e950";
}
.icon-homeservices:before {
  content: "\e951";
}
.icon-hotelstravel:before {
  content: "\e952";
}
.icon-religiousorgs:before {
  content: "\e953";
}
.icon-eventservices:before {
  content: "\e954";
}
.icon-massmedia:before {
  content: "\e955";
}
.icon-publicservicesgovt:before {
  content: "\e956";
}
.icon-localflavor:before {
  content: "\e957";
}
.icon-financialservices:before {
  content: "\e958";
}
.icon-auto:before {
  content: "\e959";
}
.icon-health:before {
  content: "\e95a";
}
.icon-food:before {
  content: "\e95b";
}
.icon-professional:before {
  content: "\e95c";
}
.icon-beautysvc:before {
  content: "\e95d";
}
.icon-angle-up-wide:before {
  content: "\e94d";
}
.icon-user:before {
  content: "\e94c";
}
.icon-advice:before {
  content: "\e949";
}
.icon-details:before {
  content: "\e94a";
}
.icon-important:before {
  content: "\e94b";
}
.icon-arts_small:before {
  content: "\e93c";
}
.icon-bicycles_small:before {
  content: "\e93d";
}
.icon-cafes_small:before {
  content: "\e93e";
}
.icon-driving_small:before {
  content: "\e93f";
}
.icon-education_small:before {
  content: "\e940";
}
.icon-fitness_small:before {
  content: "\e941";
}
.icon-groceries_small:before {
  content: "\e942";
}
.icon-nightlife_small:before {
  content: "\e943";
}
.icon-realestate_small:before {
  content: "\e944";
}
.icon-restaurants_small:before {
  content: "\e945";
}
.icon-shopping_small:before {
  content: "\e946";
}
.icon-transit_small:before {
  content: "\e947";
}
.icon-walking_small:before {
  content: "\e948";
}
.icon-email:before {
  content: "\e939";
}
.icon-phone:before {
  content: "\e93a";
}
.icon-point:before {
  content: "\e93b";
}
.icon-quotes:before {
  content: "\e938";
}
.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-right-thin:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-bus:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-climate:before {
  content: "\e909";
}
.icon-compare-frame:before {
  content: "\e90a";
}
.icon-environment:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-facebook-frame:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-heart-frame:before {
  content: "\e90f";
}
.icon-iibs:before {
  content: "\e910";
}
.icon-info:before {
  content: "\e911";
}
.icon-linkedin:before {
  content: "\e912";
}
.icon-linkedin-frame:before {
  content: "\e913";
}
.icon-map:before {
  content: "\e914";
}
.icon-mls:before {
  content: "\e915";
}
.icon-mls-min:before {
  content: "\e916";
}
.icon-noise:before {
  content: "\e917";
}
.icon-pinterest:before {
  content: "\e918";
}
.icon-pinterest-frame:before {
  content: "\e919";
}
.icon-print-frame:before {
  content: "\e91a";
}
.icon-private-schools:before {
  content: "\e91b";
}
.icon-public-schools:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-share-frame:before {
  content: "\e91e";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-twitter-frame:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e921";
}
.icon-youtube-frame:before {
  content: "\e922";
}
.icon-cross:before {
  content: "\e923";
}
.icon-cross-frame:before {
  content: "\e924";
}
.icon-angle-down-frame:before {
  content: "\e925";
}
.icon-arrow-up:before {
  content: "\e926";
}
.icon-dot:before {
  content: "\e927";
}
.icon-heart-bordered:before {
  content: "\e928";
}
.icon-heart-frame-bordered:before {
  content: "\e929";
}
.icon-arts:before {
  content: "\e92a";
}
.icon-bicycles:before {
  content: "\e92b";
}
.icon-cafes:before {
  content: "\e92c";
}
.icon-driving:before {
  content: "\e92d";
}
.icon-education:before {
  content: "\e92e";
}
.icon-fitness:before {
  content: "\e92f";
}
.icon-groceries:before {
  content: "\e930";
}
.icon-marker:before {
  content: "\e931";
}
.icon-nightlife:before {
  content: "\e932";
}
.icon-realestate:before {
  content: "\e933";
}
.icon-restaurants:before {
  content: "\e934";
}
.icon-shopping:before {
  content: "\e935";
}
.icon-transit:before {
  content: "\e936";
}
.icon-walking:before {
  content: "\e937";
}
